@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {	
	background: linear-gradient(to bottom, #0B0B3B, #1E0B3B);
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.058), #1E0B3B 65%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  border: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke; /* Loader color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: 'SilverStoneFont';
  src: url('./fonts/silverStoneRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.silver-stone-font {
  font-family: 'SilverStoneFont';
}
